
/* Node Styles */
.circle-node {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle-shape {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.triangle-node {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.triangle-shape {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #333; /* Filled triangle matching sidebar style */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.node-label {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7); /* Readable background */
  border-radius: 4px;
}
